<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dcomplete website design</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="header">
        <!--header-container--->  
        <div class="container">
            <img src="/logo.png" class="logo">
            <div class="header-text">
                {% block header %}
                
                {% blockend %}
                
                <span class="square"></span>
                <p>Monadology drops out of Wolff's teaching . After the first year or two Dr.
                <br> Howe did not teach Laura Bridgman himself, 
                <br>but gave her over to other teachers, who under his direction</p>
                <button class="common-btn">Read more</button>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>


            </div>
        </div>
        <!--header-container--->


    </section>
        <nav id="sideNav">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#">FEATURES</a></li>
                <li><a href="#">COURSES</a></li>
                <li><a href="#">OFFER</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
        <img src="/menu.png" id="menuBtn">
    

    <section id="about">
        <div class="about-left-col">
            <img src="/contact.png">
        </div>
        <div class="about-right-col">
            <div class="about-text">
                <h1>ABOUT US</h1>

                <span class="square"></span>
                <p>Building a website is, in many ways, an exercise of willpower. 
                    It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content.
                    It's that compelling content that's crucial to making inbound marketing work for your business.
                    So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.</p><br><br>
                    <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span>
                    </div>
                    <h2>“A website without visitors is like a ship lost in the horizon.” 
                        “If you think math is hard, try web design.” 
                        "A user interface is like a joke. If you have to explain it, it's not that good.”</h2>
                    <h3>---Adbigal Adams---</h3>
            </div>
        </div>
    </section>
    <!--features-->
    <section id="features">
        <div class="features-row">
            <div class="features-col">
                <img src="./pic-1.png">
                <h4>Learn Any where</h4>
                <p>Switch between your computer any where</p>
            </div>
            <div class="features-col">
                <img src="./pic-2.png">
                <h4>Expert Teachers</h4>
                <p>Learn from industry experts</p>
            </div>
            <div class="features-col">
                <img src="./pic-3.png">
                <h4>unlimted text</h4>
                <p>Choose what you like to learn</p>
            </div>
        </div>
        <div class="feature-btn" >
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>  
            <button class="common-btn">Start Free Trial</button>
        </div>
        
    </section>
    <!---courses-->
    <section id="courses courses-row">
        <div class="container">
            <div  class="course-left-col">
                <div class="course-text">
                    <h1>Browse our Top<br>courses</h1>
                    <span class="square"></span>
                    <button class="common-btn">View all courses</button>
                    <p>Any informational material that is required for participation or understanding 
                        content such as assigned readings, video recordings, exams,
                        and any other material needed for learning.</p>
                </div> 
            </div>
            <div  class="course-right-col">
                <img src="./course.png">
            </div>
        </div>
    </section>
    <!---offer-->

    <section id="offer">
        <div class="about-left-col">
            <img src="/offer.png">
        </div>
        <div class="about-right-col">
            <div class="about-text">
                <h1>Limitless learning,<br>Limitless possible</h1>

                <span class="square"></span>
                <p>Building a website is, in many ways, an exercise of willpower. 
                    It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content.
                    </p>
                    <button class="common-btn">Start Free Trail</button>
                    <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span>
                    </div>
                    
            </div>
        </div>
    </section>

    <!---contact--->
    <section id="contact">
        <div class="container contact-row">
            <div class="contact-left-col">
                <h1>Sign up to join our<br>learning community</h1>
                <form>
                    <input type="text" placeholder="Enter Name">
                    <input type="email" placeholder="Enter email">
                    <input type="password" placeholder="Enter password">
                    <div class="btn-box">
                        <button class="common-btn">Sign Up</button>
                        <button class="common-btn">Start Free Trail</button>

                    </div>
                </form>
                <div class="line">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
            <div class="contact-right-col"></div>
            <img src="/contact.png">
        </div>
    </section>

    <!--footer-->
    <section id="footer">
        <div class="container">
            <hr>
        </div>
    </section>



            <script>
            var menuBtn=document.getElementById("menuBtn");
            var sideNav=document.getElementById("sideNav");

            sideNav.style.right="-250px";
            menuBtn.onclick = function() {
                if(sideNav.style.right =="-250px"){
                    sideNav.style.right ="0";
                }
                else{
                    sideNav.style.right = "-250px"
                }
            }

                  
                

            
        </script>


    
</body>
</html>